html {
    height: 100%;
}

body {
    font: 15px/1.5 'Tenor Sans', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

main {
    padding-bottom: 20px;
}

/* ---- GLOBALS ---- */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin: 10px 0;
}

.button_1 {
    height: 38px;
    background-color: #000000;
    border: 0;
    padding: 0 20px;
    color: #ffffff;
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: black;
    font-weight: lighter;
}

h3 {
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 3px;
}

/* ---- HEADER SECTION ---- */
header {
    background-color: #ffffff;
    color: #000000;
    padding-top: 30px;

    z-index: 900;
    height: 120px;
    min-height: 120px;
    position: fixed;
    width: 100%;
    overflow: auto;
}

header .container {
    width: 80%;
    margin: auto;
}

header a {
    color: #73777a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header li {
    float: left;
    display: inline;
    padding: 0 25px;
}

header #branding {
    float: left;
}

header #branding img {
    width: 60%;
    height: auto;
}

header nav {
    float: right;
    margin-top: 45px;
}

header .current a {
    color: #000000;
    font-weight: 900;
}

header a:hover {
    color: #cccccc;
    font-weight: 900;
}

/* ---- SHOWCASE SECTION ---- */
#showcase {
    min-height: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 1%;
    text-align: center;
    z-index: 1;
}

/* if going carousel, can delete this (#showcase img) here */
/* #showcase img {
    width: 100%;
    height: auto;
    margin-top: 5%;
} */

#carouselFull {
    width: 80%;
    height: auto;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

#carouselFullEstero {
    width: 80%;
    height: auto;
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
}

#showcase-content {
    width: 85%;
    margin: auto;
    align-content: center;
}

#showcase h5 {
    font-size: 17px;
    margin-bottom: 25px;
    text-align: center;
    letter-spacing: 4.5px;
}

#showcase h6 {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: rgb(124, 124, 124);
    line-height: 24px;
    font-variant: small-caps;
}

#showcase p {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: rgb(124, 124, 124);
    text-align: justify;
}

#showcase .signature {
    font-weight: 900;
    font-size: 12px;
    letter-spacing: 3px;
    font-variant: small-caps;
    color: #252525;
}

/* ---- PROJECTS SECTION ----  */
#projects {
    min-height: 400px;
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
    text-align: center;
    z-index: 1;
}

.projects-container {
    width: 100%;
    height: auto;
    margin: auto;
    align-content: center;

    /* display: grid; */
    /* UNCOMMENT once 3 PROJECTS+ */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    grid-gap: 4em;
    justify-items: stretch;
    align-items: stretch; */

    /* HOVER TUTORIAL */
    /* width: 1280px;
    margin: 70px auto 0; */

    /* doing hover, switching display to flex*/
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.projects-container .box {
    position: relative;
    width: 350px;
    height: auto;
    margin: 20px auto;
    box-sizing: border-box;
    display: inline-block;
}

.projects-container .box .imgBox {
    position: relative;
    overflow: hidden;
}

.projects-container .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}

.projects-container .box:hover .imgBox img {
    transform: scale(1.2);
}

.projects-container .box .details {
    position: absolute; 
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(216, 215, 215, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.projects-container .box:hover .details {
    transform: scaleY(1);
}

.projects-container .box .details .content {
    position: absolute;
    top: 45%;
    left: 50%;
    
    transform: translate(-50%);
    text-align: center;
    color: #ffffff;
}

.projects-container .box .details .content h3 {
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
    text-align: center;
}




#projects img {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

#projects h4 {
    font-size: 18px;
    font-variant: small-caps;
    letter-spacing: 3px;
    font-weight: 100;
    padding-top: 15px;
}

.project-h3 {
    font-variant: small-caps;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 10%;
}

#showcase .estero {
    margin-top: 2%;
    width: 60%;
    height: auto;
}

/* ---- SERVICES SECTION ---- */
#services-section {
    width: 100%;
    margin-top: 10%;
}

#services-section h3 {
    margin: 15px auto;
}

ul#services li {
    list-style: none;
    padding: 10px;
}


/* ======= I THINK I CAN DELETE ALL OF THIS? ============= */
/* ---- SERVICES || SIDEBAR SECTION ----  */
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

aside #sidebar {
    width: 100%;
}

#sidebar img {
    width: 400px;
    height: auto;
}
/* ================================== */

/* ---- MAIN-COL SECTION ----  */
article#main-col {
    float: left;
    width: 65%;
}

/* ------ ABOUT SECTION ------ */
#main-about {
    /* background-color: lavenderblush; */
    margin-top: 10%;
    width: 100%;
}

#main-about p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

article#main-col {
    margin: 50px auto;
    /* border: solid black 2px; */
}

/* ---- ABOUT || SIDEBAR SECTION ----  */
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

/* ---- CONTACT SECTION ---- */
#contact-container {
    width: 100%;
    margin: auto;
    padding-top: 10%;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px; */
}

#contact-container img {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;

    /* display: flex;
    grid-row: 1 / span 3;
    grid-column: 1 / span 6;
    flex-direction: row; */
}

.contact-forms {
    width: 80%;
    margin: auto;
}

form {
    width: 300px;
    margin: 30px;
}

.contact-forms h3 {
    text-align: center;
    letter-spacing: 6px;
    text-transform: lowercase;
}

.field {
    background-color: #ffffff;
    margin: 10px auto;
    width: 300px;
}

.half {
    height: 30px;
}

::placeholder {
    font-variant: small-caps;
    letter-spacing: 5px;
    text-transform: lowercase;
    color: rgb(192, 192, 192); 
    padding: 0 5px;
}

.actions {
    list-style-type: none;
}

.actions .button {
    font-variant: small-caps;
    letter-spacing: 3px;
    width: 300px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 400px;
    margin: 20px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 400px;
}

.contact-buttons {
    margin: 30px auto;
    align-content: center;
    width: 80%;
    text-align: center;
}

.contact-box {
    border: solid gold 4px;
    margin: 50px;
    width: 200px;
    display: inline-block;
}

.contact-box p,
.contact-box a {
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
    font-size: 13px;
}

img.contact-img {
    border: solid pink 4px;
    padding: 50px;
    width: 20px;
    height: 20px;
}

/* .contact-buttons {
    width: 300px;
    height: 300px;
    align-content: center;
} */

/* .contact-box {
    margin: 30px;
    width: 300px;
    height: 300px;
    align-content: center;
    overflow: hidden;
} */

/* ---- FOOTER SECTION ----  */
footer {
    padding-bottom: 0;
    padding-top: 10px;
    margin-top: auto;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: 10px;
    text-transform: uppercase;
    word-spacing: 2px;
}

footer a {
    font-weight: 900;
}

/* ---- MEDIA QUERIES ----  */
@media (max-width: 768px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input [type="email"], .quote input, .quote textarea {
        width: 100%;
        margin-bottom: 5px;
    }
    
}